*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-mid ul li{
    list-style: none;
    display: inline;
}

header{
    background-color: rgba(173,216,230,255);
    padding: 10px;
}

.container{
    width: 800px;
    margin: auto;
    display: flex;
    
}

.header-sx,
.header-mid,
.header-dx{
    padding: 10px;
    border: 1px dashed black;
}

.header-sx{
    background-color: rgba(218,165,32,255);
    width: 20%;
}
.header-mid{
    background-color: rgba(218,165,32,255);
    width: 60%;
    text-align: center;
}

.header-dx{
    background-color: rgba(218,165,32,255);
    width: 20%;
    text-align: right;
}

.box1{
    background-color: rgba(0,0,139,255);
    padding: 30px;
}

.box2{
    background-color:white;
    padding: 30px;
}

.box3{
    background-color: rgba(211,211,211,255);
    padding: 30px;

}

.box4{
    background-color:white;
    padding: 30px;

}

.fuchsia-centered-box{
    background-color: rgba(238,130,238,255);
    height: 300px;
    width: 500px;
    margin: auto;
    border: 1px dashed black;
}

.light-blue-box{
    width: 60%;
    height: 300px;
    background-color: rgba(30,144,255,255);
    border: 1px dashed black;
}

.pink-box{
    width: 40%;
    height: 300px;
    background-color: pink;
    border: 1px dashed black;
}

.box5{
    background-color:rgba(211,211,211,255);    
    padding: 30px;

}

.box6{
    background-color: rgba(35,39,42,255);  
    padding: 10px;

}

.green-centered-box{
    background-color: green;
    height: 600px;
    margin: auto;
    border: 1px dashed black;
}

.sub-container{
    display: flex;
    width: 67%;
}

.pink-box2{
    width: 33%;
    height: 300px;
    background-color: rgba(240,128,128,255);
    border: 1px dashed black;
   
}

.acqua-box{
    background-color: rgba(32,178,170,255);
    height: 300px;
    width: 25%;
    border: 1px dashed white;
}

footer{
    background-color: rgba(35,39,42,255);
    padding: 30px;
}

.footer-sub-container{
    display: flex;
    height: 100px;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;

}

hr{
    color: gray;
}

.little-pink-footer-box{
    background-color: pink;
    padding: 10px;
    border: 1px dashed black;
}